.box {
  width: 200px;
  height: 200px;
  background-color: red;
  padding: 10px;
  border: 10px solid blue;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: red;
  padding: 10px;
  border: 10px solid blue;
  margin-left: 239.2px;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: red;
  padding: 10px;
  border: 10px solid blue;
  margin-left: 478.2px;
}

